/* Reset all margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Optional: Set a baseline for typographic elements */
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Optional: Remove list styles */
ul,
ol {
    list-style: none;
}

/* Optional: Remove default anchor styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Optional: Remove outline from links and other focusable elements */
a:focus,
button:focus {
    outline: none;
}


header {
    background-color: #374d7c;

}

header h1 {
    text-transform: uppercase;
    color: #fff;
}

header .title {
    background-color: #fff;
    color: #374d7c;
    font-style: italic;
}
header .ctas {
    padding: 10px;
    background-color: #fff;
}

.btn-light {
    background-color: #46edc8;
    border-color: #46edc8;
    /* color:#fff; */
}

.btn-primary {
    
    background-color: #374d7c;
    border-color: #374d7c;
}

.container-sm {
    max-width: 642px;
}

.ctas>.lx {
    width: 50%;
}

.meal {
    border:2px solid #46edc8;
}